CompileFlags:
  Add:
    [
      "-g",
      "-Os",
      "-Wall",
      "-Wextra",
      "-pedantic",
      "-pipe",
      "-x", "c",
      "-std=c99",
      "-D_POSIX_C_SOURCE=200112L",
    ]
  Compiler: gcc