CompileFlags:
  Add:
    [
      "-g",
      "-Os",
      "-Wall",
      "-Wextra",
      "-fpermissive",
      "-fno-exceptions",
      "-fno-threadsafe-statics",
      "-ffunction-sections",
      "-fdata-sections",
      "-pipe",
      "-std=gnu11",
      "-x", "c",
      "-I../",
    ]
  Compiler: gcc