CompileFlags:
  Add:
    [
      "-g",
      "-Os",
      "-Wall",
      "-Wextra",
      "-fpermissive",
      "-fno-exceptions",
      "-fno-threadsafe-statics",
      "-ffunction-sections",
      "-fdata-sections",
      "-pipe",
      "-x", "c",
      "-std=c99",
      "-D_POSIX_C_SOURCE=200112L",
    ]
  Compiler: gcc